table
	tr
		th Version
		th Released
		th Specs
		th Schema
		th Samples
	tr
		th 1.0
		td 
			a(href="https://github.com/kba/hocr-spec/blob/master/hocr-spec.md#december-2007") December 2007
		td
			ul
				li #[a(href="https://docs.google.com/document/d/1QQnIQtvdAC_8n92-LhwPcjtAUFwBlzE8EWnKAxlgVf0/preview") Google Doc]
				li #[a(href="https://github.com/kba/hocr-spec/blob/master/hocr-spec.md") Github]
		td -
		td -
	tr
		th 1.1
		td 
			a(href="https://github.com/kba/hocr-spec/blob/master/hocr-spec.md#march-2010") March 2010
		td
			ul
				li #[a(href="https://docs.google.com/document/d/1QQnIQtvdAC_8n92-LhwPcjtAUFwBlzE8EWnKAxlgVf0/preview") Google Doc]
				li #[a(href="https://github.com/kba/hocr-spec/blob/master/hocr-spec.md") Github]
		td -
		td 
			ul
				li #[a(href="../samples/hocr/1.1/wetzel_reisebegleiter_1901_0021.hocr") [DTA]]
				li #[a(href="../samples/hocr/1.1/417576986_0013.hocr") [UBMA:digi]]
