table
	tr
		th Version
		th Released
		th Specs
		th Schema
		th Samples
	tr
		th 6v1
		th 2002?
		td -
		td #[a(href="http://fr7.abbyy.com/FineReader_xml/FineReader6-schema-v1.xml") XSD]
		td -
		td -
	tr
		th 8v2
		th 2006?
		td -
		td #[a(href="http://fr7.abbyy.com/FineReader_xml/FineReader8-schema-v2.xml") XSD]
		td -
		td -
	tr
		th 9v1
		th 2007?
		td -
		td #[a(href="http://fr7.abbyy.com/FineReader_xml/FineReader9-schema-v1.xml") XSD]
		td -
		td -
	tr
		th 10v1
		th 2011?
		td 
			ul
				li
					a(href="https://abbyy.technology/en:features:ocr:xml") Description
				li
					a(href="https://abbyy.technology/_detail/en:features:ocr:abbyy-xml-tag-scheme-illu.png?id=en%3Afeatures%3Aocr%3Axml") Visual Overview
		td #[a(href="http://fr7.abbyy.com/FineReader_xml/FineReader10-schema-v1.xml") XSD]
		td
			ul
				li
					a(href="../samples/abbyy/10v1/417589220_0018.abbyy.xml")
						| [UBMA:digi]
				li
					a(href="https://abbyy.technology/_media/en:features:ocr:alto_xml_sample_collection.zip")
						| ALTO + Abbyy example
