table
	tr
		th Version
		th Released
		th Specs
		th Schema
		th Samples
	tr
		th 1.0
		td December 02, 2004
		td -
		td 
			a(href="https://cdn.rawgit.com/altoxml/schema/master/v1/alto-1-0.xsd") XSD
		td -
	tr
		th 2.0
		td #[a(href="https://github.com/altoxml/schema/blob/master/v2/alto-2-0.xsd#L48") January 11, 2010]
		td -
		td #[a(href="https://cdn.rawgit.com/altoxml/schema/master/v2/alto-2-0.xsd") XSD]
		td
			ul
				li #[a(href="../samples/alto/2.0/wetzel_reisebegleiter_1901_0021.alto") [DTA]]
				li
					a(href="https://abbyy.technology/_media/en:features:ocr:alto_xml_sample_collection.zip")
						| ALTO + Abbyy example
	tr
		th 2.1
		td #[a(href="https://github.com/altoxml/schema/blob/master/v2/alto-2-1.xsd#L51") February 20, 2014]
		td -
		td #[a(href="https://cdn.rawgit.com/altoxml/schema/master/v2/alto-2-0.xsd") XSD]
		td
			ul
				li #[a(href="../samples/alto/2.0/wetzel_reisebegleiter_1901_0021.alto") [DTA]]
	tr
		th 3.0
		td #[a(href="https://github.com/altoxml/schema/blob/master/v3/alto-3-0.xsd#L75") August, 2014]
		td -
		td #[a(href="https://cdn.rawgit.com/altoxml/schema/master/v3/alto-3-0.xsd") XSD]
		td -
	tr
		th 3.1
		td #[a(href="https://github.com/altoxml/schema/blob/master/v3/alto-3-1.xsd#L83") January, 2014]
		td -
		td #[a(href="https://cdn.rawgit.com/altoxml/schema/master/v3/alto-3-1.xsd") XSD]
		td -
